<div fxFlexFill fxLayout="column" fxLayoutGap="30px">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Todo application</span>
  </mat-toolbar>

  <div fxFlex fxLayout="row">
    <div fxFlex fxLayoutAlign="center start">
      <app-todolist></app-todolist>
    </div>
    <div fxFlex fxLayoutAlign="center start">
      <app-completed-todos></app-completed-todos>
    </div>
  </div>
</div>
  


