<mat-card class="user-card__component mat-elevation-z3">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ user.username }}</mat-card-title>
    <mat-card-subtitle>{{ user.id }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ user.avatarUrl }}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Some text goes in here!!
    </p>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="center">
    <button mat-raised-button color="primary" routerLink="/user/{{user.username}}">Go to profile</button>
  </mat-card-actions>
</mat-card>
