<div class="top-menu">
  <img class="logo"
  src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">
</div>

<div class="courses" #container *ngIf="courses">
  
  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{ courseName }} has no Image Available</p>
    <img src="/assets/empty-image.png">
  </ng-template>

  <course-card 
    highlighted
    #highlighter="hl"
    (toggleHighlight)="onToggle($event)"
    #cardRef
    *ngFor="let course of courses; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd" 
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    [class.is-even]="isEven"
    [class.is-odd]="isOdd"
    (courseSelected)="onCourseSelected($event)" 
    [course]="course"
    [courseIndex]="i + 1"
    [noImageTemplate]="blankImage"
    > 
    <course-image [src]="course.iconUrl" *ngxUnless="!course.iconUrl"></course-image>
    <div class="course-description" (click)="highlighter.toggle()">
      {{ course.longDescription }}
    </div>
    <p #contentChild>Content Child</p>
  </course-card>
</div>
