<div fxLayout="column" fxLayoutGap="25px" class="user-component__container">
  <div fxLayout="row" class="user-component__form-field">
    <mat-form-field fxFlex appearance="fill">
      <mat-label>Input</mat-label>
      <input [formControl]="filterControl" matInput>
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center">
    <div *ngFor="let user of dataSource$ | async" fxFlex="calc(20% - 20px)" fxFlex.lt-md="calc(33% - 20px)" fxFlex.sm="calc(50% - 20px)" fxFlex.xs="calc(100% - 20px)">
      <app-user-card [user]="user"></app-user-card>
    </div>
  </div>

</div>