.home__weather-card {
    margin: 20px;
    box-shadow: 0px 5px 5px 5px #ccc;
}

.home__weather-card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 10px 10px #ccc;
    transform: scale(1.04);
    background-color: #673ab7;
    color: white;
    transition: background 1s ease-in();
}